<title>Login</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/signin.css">
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
<script src="/main/js/main.js"></script>
<script src="/main/js/login/login.js"></script>
<script src="/main/js/login/loginCtrl.js"></script>
<script src="/main/js/signin/signin.js"></script>
<script src="/main/js/signin/signinCtrl.js"></script>
<script src="/main/js/home/home.js"></script>
<script src="/main/js/home/homeCtrl.js"></script>
<script src="/main/js/user/user.js"></script>
<script src="/main/js/account/account.js"></script>
<script src="/main/js/account/accountService.js"></script>
<script src="/main/js/util/httpService.js"></script>
<script src="/main/js/connection/connection.js"></script>
<script src="/main/js/connection/connectionService.js"></script>
<script src="/main/js/contacts/contacts.js"></script>
<script src="/main/js/contacts/contactsService.js"></script>
<script src="/main/js/call/call.js"></script>
<script src="/main/js/call/callCtrl.js"></script>
<script src="/main/js/call/callService.js"></script>
