<div class="text-center">
  <a class="btn btn-default" style="margin-top: 5px;" href="/auth/github"><i class="fa fa-github fa-2x fa-fw"></i></a>
  <a class="btn btn-default" style="margin-top: 5px;" href="/auth/twitter"><i class="fa fa-twitter fa-2x fa-fw"></i></a>
  <a class="btn btn-default" style="margin-top: 5px;" href="/auth/facebook"><i class="fa fa-facebook fa-2x fa-fw"></i></a>
  <a class="btn btn-default" style="margin-top: 5px;" href="/auth/google"><i class="fa fa-google fa-2x fa-fw"></i></a>
  <!-- <a class="btn btn-default" style="margin-top: 5px;" href="/auth/instagram"><i class="fa fa-instagram fa-2x fa-fw"></i></a> -->
</div>
