<div class="text-center">
  <div class="btn-group">
    <a class="btn btn-default" href="/auth/github"><i class="fa fa-github fa-2x fa-fw"></i></a>
    <a class="btn btn-default" href="/auth/twitter"><i class="fa fa-twitter fa-2x fa-fw"></i></a>
    <a class="btn btn-default" href="/auth/facebook"><i class="fa fa-facebook fa-2x fa-fw"></i></a>
    <a class="btn btn-default" href="/auth/google"><i class="fa fa-google fa-2x fa-fw"></i></a>
  </div>
</div>
