<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>odunRTC - Login Page</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
</head>
<body class="loginPage">
    <div class="loginBackground">
        <div class="container">
            <div class="blackContainer">
                <div class="signUpMessage">
                    <div class="title">Don't have an account?</div>
                    <div class="signUpButton">Sign Up</div>
                </div>
                <form class="loginWhiteBox">
                    <div class="title">Log In</div>
                    <input type="text" placeholder="Username">
                    <input type="password" placeholder="Password">
                    <input type="submit" value="Log In" class="loginButton">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
