<form class="form-signin">
  <h2 class="form-signin-heading">Log in</h2>

  <label for="inputEmail" class="sr-only">Email address</label>
  <input ng-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">

  <label for="inputPassword" class="sr-only">Password</label>
  <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

  <button ng-click="login()" class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

  <div>
    If you don't have an account, you can
    <a ui-sref="signin" href="#/signin">sign up</a> for free!
  </div>

  <ul>
    <li><a href='/auth/github'>GitHub</a></li>
    <li><a href='/logout'>logout</a></li>
  </ul>
</form>
