<div>{{callState}}</div>
<div id="videoContainer">
  <video class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="localStream" autoplay muted></video>
  <video class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="remoteStream" autoplay></video>
  <div class="text-center callControlButtons">
    <span ng-if="muteState === 'mute'" ng-click="mute()" class="mute-icon fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-microphone-slash fa-stack-1x fa-inverse"></i>
    </span>
    <span ng-if="muteState === 'unmute'" ng-click="mute()" class="mute-icon fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
    </span>
    <span ng-click="end()" class="end-icon fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
    </span>

  </div>
</div>
<div id="incomingCallModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <button ng-click="answer()" class="btn btn-lg btn-primary btn-block" type="submit">Answer</button>
      <button ng-click="end()" class="btn btn-lg btn-primary btn-block" type="submit">Decline</button>
    </div>
  </div>
</div>
