<!doctype html>
<html>

<head>
  <% include ../partials/login_signup_head.ejs %>
</head>

<body>
  <div class="container">

    <div class="col-sm-6 col-sm-offset-3">

      <h1><span class="fa fa-sign-in"></span> Anonymous</h1>

          <!-- ANONYMLOUS LOGIN FORM -->
          <form action=
          <% if (url.length > 0) { %>
              <%= url %>
            <% } %>
            method="post">

            <div class="form-group input-group margin-bottom-sm">
              <span class="input-group-addon"><i class="fa fa-user-secret fa-fw"></i></span>
              <input type="text" class="form-control" name="username">
            </div>

            <button type="submit" class="btn btn-warning btn-lg btn-block">Call
              <% if (to.length > 0) { %>
                  <%= to %>
                <% } %>
            </button>
          </form>


    </div>

  </div>
</body>

</html>
