<!doctype html>

<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class="camera">
          <video id="video">Video stream not available.</video>
        </div>
        <canvas id="canvas" style="display: none">
        </canvas>
        <div class="output" style="display: none">
          <img id="photo" alt="The screen capture will appear in this box.">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="progress">
          <div class="emotion-anger progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="color:black; width: 100%">
            anger
          </div>
        </div>
        <div class="progress">
          <div class="emotion-contempt progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="color:black; width: 100%">
            contempt
          </div>
        </div>
        <div class="progress">
          <div class="emotion-disgust progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="color:black; width: 100%">
            disgust
          </div>
        </div>
        <div class="progress">
          <div class="emotion-fear progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="color:black; width: 100%">
            fear
          </div>
        </div>
        <div class="progress">
          <div class="emotion-happiness progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="color:black; width: 100%">
            happiness
          </div>
        </div>
        <div class="progress">
          <div class="emotion-neutral progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="color:black; width: 100%">
            neutral
          </div>
        </div>
        <div class="progress">
          <div class="emotion-sadness progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="color:black; width: 100%">
            sadness
          </div>
        </div>
        <div class="progress">
          <div class="emotion-surprise progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="color:black; width: 100%">
            surprise
          </div>
        </div>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
        <span class="sr-only">Processing...</span>

      </div>
    </div>
  </div>

  <script src="/dev_artifacts/canvas-to-blob.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/dev_artifacts/emotion.js"></script>

</body>

</html>
