<!doctype html>
<html lang="en-US" ng-app="main">
<head>
  <% include ../partials/header.ejs %>
</head>

<body ng-controller="mainCtrl">
  <div class="container">
    <div ng-view></div>
  </div>
</body>
</html>
