<!doctype html>
<html>

  <head>

    <head>
      <% include ../partials/login_signup_head.ejs %>
    </head>
  </head>

  <body>
    <div class="container">

      <div class="col-sm-6 col-sm-offset-3">

        <h1>
          <span class="fa fa-sign-in"></span>
          Signup</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
          <div class="alert alert-danger">
            <%= message %>
          </div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/signup" method="post">

          <% include ../partials/login_signup_content.ejs %>

          <button type="submit" class="btn btn-success btn-lg btn-block">Signup</button>
        </form>

        <table class="tablehr">
          <td><hr /></td>
          <td>OR</td>
          <td><hr /></td>
        </table>

        <p>Already have an account?
          <a href="/login">Login</a>
        </p>

        <table class="tablehr">
          <td><hr /></td>
          <td>OR</td>
          <td><hr /></td>
        </table>

        <% include ../partials/social.ejs %>

      </div>

    </div>
  </body>

</html>
