<div class="text-center">
  <form class="form-inline">
    <div class="form-group">
      <label for="searchInputField">Search for friends: </label>
      <input ng-change="searchInputChange()" ng-model="searchInput" type="text" class="form-control" id="searchInputField" placeholder="username, email">
    </div>
  </form>

  <ul ng-if="userList" class="list-group">
    <div ng-repeat="user in userList">
      <li class="list-group-item" style="height:50px">
        <img ng-if="user.photo" style="height:100%" src="{{user.photo}}" />
        <i class="fa fa-{{user.type}} fa-fw"></i> {{user.displayName}} {{user.username}} {{user.email}}
      </li>
    </div>
  </ul>

  <i class="fa fa-external-link">
    Share your link -
    {{user.link}}</i>
</div>
