body.loginPage {
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Trebuchet MS', Arial;
}
.loginBackground {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/loginBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container {
    width: 80%;
    max-width: 1020px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blackContainer {
    background: rgba(0, 0 , 0, 0.7);
    width: 80%;
    height: 300px;
    position: relative;
}
.loginWhiteBox {
    width: 40%;
    padding: 60px 5%;
    position: absolute;
    right: 5%;
    height: 280px;
    top: -50px;
    background: #FDFDFD;
    .title {
        text-transform: uppercase;
        color: #ea6153;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    input[type='text'], input[type='password'] {
        display: block;
        margin: 30px 0;
        border: none;
        border-bottom: 2px solid #ecf0f1;
        font-size: 18px;
        padding: 5px;
        width: 96%;
        font-family: Roboto, 'Trebuchet MS', Arial;
    }
    .loginButton {
        border-radius: 3px;
        background: #ea6153;
        color: #ecf0f1;
        text-align: center;
        padding: 10px;
        text-transform: uppercase;
        width: 100%;
        border: none;
        cursor: pointer;
        font-size: 14px;
    }
}
.signUpMessage {
    color: #bdc3c7;
    padding: 70px 70px;
    width: 30%;
    .title {
        font-size: 30px;
    }
    .signUpButton {
        width: 160px;
        margin-top: 50px;
        border-radius: 3px;
        padding: 10px;
        border: 1px solid #bdc3c7;
        text-align: center;
        cursor: pointer;
    }
}
